@font-face {
    font-family: Josefin Sans;
    src: url("/assets/JosefinSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "AvenirNext-Medium";
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
    margin-top: 50px;
}

h3 {
    font-size: 22px;
}

h4, span, div {
    font-family: "AvenirNext-Regular";
}

b, strong {
    font-family: "AvenirNext-Bold"
}

i, em {
    font-family: "AvenirNext-Italic"
}