if theme.disqus.enable
    div#disqus_thread.al_disqus
    script
        | (function(){
        |   var dsq = document.createElement('script');
        |   dsq.type = 'text/javascript';
        |   dsq.async = true;
        |   dsq.src = '//
        != theme.disqus.shortname
        |.disqus.com/embed.js';
        |   (document.head || document.body).appendChild(dsq);
        | }());
