if theme.google_analytice.enable
  script(
    src=`https://www.googletagmanager.com/gtag/js?id=${theme.google_analytice.tracking_id}`
  )
  script!= `window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);};gtag('js', new Date());gtag('config', '${theme.google_analytice.tracking_id}');`