@charset "UTF-8";

.al_index_background {
    z-index: 10;

    background-color: $theme_color;
}

.al_index_background_letter {
    font-size: 600px;
    height: 770px;
    z-index: 11;
    cursor: default;
}

.al_index_background_bio {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.al_index_background h2 {
    font-size: 48px;
    position: relative;
    z-index: 12;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);
    cursor: default;

    &:hover {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
}
