@charset "UTF-8";

.al_fake_background {
    background-color: $fake_background_color;
    top: 100px;
    width: 100%;
    bottom: 0;
}

.al_main_container {
    position: relative;
    background-color: $background_color;
    color: #444;
    padding: 100px 30px;
}

.al_post_nav {    
    justify-content: space-between;
    margin-top: 50px;

    .al_post_nav_item {
        padding: 12px 0;
        max-width 180px;
        cursor: pointer;

        &:hover {
            fill: $theme_color;
            color: $theme_color;
        }
            
        color: $list_title_color;
    }

    .al_arrow {
        width: 10px;
        height 10px
        margin: 0 10px;
        display: inline-block;
        flex-shrink: 0;
    }

    .icon {
        width: 50px;
        height 50px;
        margin: 0 10px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 768px) {
    .al_main_container {
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .al_main_container {
        margin: 0 35px;
    }
}

@media screen and (min-width: 1200px) {
    .al_main_container {
        padding: 100px 50px;
        max-width: 1000px;
        margin: 0 auto;
    }
}