@media (prefers-color-scheme: dark) {
    .al_main_container, .al_sidebar_cnt {
        color: #ccc;
    }

    .al_fake_background, .al_index_footer {
        background-color: $dark_fake_background_color;
    }

    .al_main_container, .al_sidebar_author_cnt {
        background-color: $dark_background_color;
    }

    .al_index_post_title a {
        color: $dark_list_title_color;
    }

    .al_index_post_excerpt {
        color: $dark_list_desc_color;
    }

    .al_letter {
        color: rgba(255, 255, 255, 0.1);
    }

    .al_main_page_container {
        code:not(.hljs) {
            background-color: #333;
        }
    }

    #post-body > table {
        tr:nth-child(2n) {
            background-color: #09070e;
        }

        th, td {
            border: 1px solid #888;
        }
    }

    .al_post_nav .al_post_nav_item {
        color: $dark_list_title_color;
        fill: $dark_list_title_color

        &:hover {
            fill: $theme_color;
            color: $theme_color;
        }
    }

    // gitalk
    .gt-comment-content {
        background-color: #090601 !important;

        &:hover {
            box-shadow: 0 0.625em 3.75em 0 #0b0b0b !important;
        }
    }

    .gt-container .gt-comment-body {
        color: #ccc !important;
    }
}