.al_header {
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 20;
}

.al_svg_symbol {
    display: none;
}

.al_header_site_title {
    font-size: 1.5em;
    font-weight: bold;
}

.al_header_container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.al_header_container a {
    color: white;
    padding: 0 15px;
}

.al_header_setting {
    width: 38px;
    height: 38px;
    padding: 10px 12px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.al_header_icon {
    width: 14px;
    height: 14px;
    fill: white;
    pointer-events: none;
}