

// ol,ul {
// 	list-style: none
// }

.al_article {
	max-width: 720px;
	margin: 0 auto;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

* {
	box-sizing: border-box
}

u {
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, $theme_color_light 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.05em
}

s {
	color: #878787
}

p {
	margin-bottom: 0.1em
}

hr {
	margin-bottom: 0.7em;
	margin-top: 0.7em
}

blockquote {
	display: block;
	margin-left: -1em;
	padding-left: 0.8em;
	border-left: 0.2em solid $theme_color_light;
}

.arrow svg #rod {
	stroke: #545454
}

.arrow svg #point {
	fill: #545454
}

mark {
	color: inherit;
	display: inline;
	padding: 0.2em 0.5em;
	background-color: #fcffc0
}

figure.highlight {
	overflow: hidden;
	overflow-x: auto;
	background: #282a36;
	padding: 10px;
	font-size: 14px;
	color: #ccc;

	pre {
		margin: 0;
	}

	td {
        border: none;
        padding: 0;
	}

	td.gutter {
		text-align: right;

		pre {
			padding-right: 15px;
		}
	}
}

code:not(.hljs) {
	font-family: "Menlo-Regular";
	border: solid 1px #dedede;
	padding: 0.2em 0.5em;
	font-size: 0.9em
}

#post-body > table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: block;
	line-height: 1.5;

	th, td {
		padding: 6px 13px;
		border: 1px solid #dfe2e5;
	}

	tr:nth-child(2n) {
		background-color: #f6f8fa;
	}
}

#post-body > ul, #post-body > ol {
	padding-inline-start: 0px;

	li {
		margin-bottom: 5px;
	}

	p {
		display: inline;
	}
}

#post-body > ul {
	list-style: none;

	li {
		&::before {
			content: "•";
			color: $theme_color;
			display: inline-block;
			margin-right: 10px;
		}
		text-indent: -0.7em;
	}
}

ol {
	counter-reset: ol 0;
	li {
		display: block;
		text-indent: -1.45em;

		&::before {
			content: counter(ol) ".";
			counter-increment: ol;
			color: $theme_color;
			text-align: right;
			display: inline-block;
			min-width: 1em;
			margin-right: 0.5em;
		}
	}
}
