.al_page_background {
    background-color: $theme_color;
    z-index: 10;
}

.al_page_container {
    z-index: 20;
    position: relative;
    min-height: 100vh;
    margin-top: 90px;
}

.al_main_page_container {
    font-size: 15px;

    img, video {
        max-width: 100%;
        height: auto;
        border: none;
        display: block;
        margin: auto;
        cursor: zoom-in;
    }

    a {
        color: $theme_color;
    }

    q, blockquote {
        quotes: none;

        &::before, &::after {
            content: "";
            content: none
        }
    }

    p, figure {
        margin-bottom: 1.57143em;
        hyphens: auto;
        line-height: 25px;
    }

    figure {
        margin-left: 0;
        margin-right: 0;
        span {
            word-wrap: break-word;
            word-break: break-all;
        }
    }

    hr {
        height: 1px;
        border: 0;
        background-color: #dedede;
        margin: -1px auto 1.57143em auto
    }
}

.al_page_title {
    margin: 0;
}

.al_page_info {
    color: #888;
    margin: 20px 0;
}

.al_page_content_info {
    margin-right: 15px;
    font-size: 13px;
    color: #888;

    &:not(:last-of-type) {
        &::after {
            content: "/";
            right: -7px;
            position: relative;
        }
    }
}

.al_disqus {
    margin-top: 100px;
}

.al_post_nav_desc {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
