
doctype html
html(lang=config.language)
    head
        include head.pug
    
    body
        include nav.pug
        block content
        include footer.pug
        include mtaTencentAnalytice.pug