<!DOCTYPE html>
<html lang="{{ config.language }}">
    <head>
        {% block extra_style %}{% endblock %}
        {% include "./head.njk" %}
    </head>
    <body>
        {% include "./headerbar.njk" %}
        {% include "./sidebar.njk" %}
        {% block content %}{% endblock %}
        {% include "./footer.njk" %}
        <script type="text/javascript" async="async" src="{{ url_for('/javascripts/acelog.js') }}"></script>
        {% include "./plugins/mtaTencentAnalytice.njk" %}
        {% include "./plugins/baiduAnalytice.njk" %}
        {% include "./plugins/googleAnalytice.njk" %}
        {% include "./plugins/umamiAnalytice.njk" %}
        {% include "./plugins/plugin.njk" %}
    </body>
</html>