
doctype html
html(lang=config.language)
    head
        include head.pug
    
    body
        include headerbar.pug
        include ./sidebar.pug
        block content
        include footer.pug
        script(type='text/javascript', async="async", src=url_for('/javascripts/acelog.js'))
        include plugin/mtaTencentAnalytice.pug
        include plugin/baiduAnalytice.pug
        include plugin/googleAnalytice.pug
        include plugin/plugin.pug
        