
doctype html
html(lang=config.language)
    head
        include head.pug
    
    body
        include header.pug
        //- include sidebar.pug
        block content
        include footer.pug
        include mtaTencentAnalytice.pug
        include baiduAnalytice.pug
        include googleAnalytice.pug