div.al_index_footer.dis_flex.dis_flex_center
    div.al_index_footer_item.al_index_footer_title= "iGuan7u"
    if theme.ICPLicense.enable
        div.al_index_footer_item(onclick="window.open('http://www.beian.miit.gov.cn')")= theme.ICPLicense.content    
    div.al_index_footer_item.al_index_footer_extra
        | Create By 
        a(href='https://github.com/iGuan7u/Acetolog') AcetoLog 
        | · Power By 
        a(href='https://hexo.io/') Hexo
    div.al_index_footer_item.al_index_footer_extra_right= "All Right Reserved"