- var pageTitle = page.title || config.subtitle || ''

meta(charset='UTF-8')
title= pageTitle
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel='stylesheet', href=url_for('./css/style.css'))
link(rel='stylesheet', href=url_for('./css/atom-one-dark.css'))