header.al_header.al_pos_fixed
    div.al_header_container.dis_flex_jcenter
        div.al_header_container_left
            div.al_header_site_title
                a(href="/")= config.title
        
        div.dis_flex_jcenter
            div.al_header_setting
                svg.al_header_icon
                    use(xmlns="http://www.w3.org/2000/svg" xlink:href="/assets/svg_icons.svg#svg-menu")

