header.al_header.al_pos_fixed
    div.al_header_container.dis_flex_jcenter
        div.al_header_container_left
            div.al_header_site_title
                a(href="/")= 'iGuan7u'
        //- div.dis_flex_jcenter
        //-     div.al_header_archives
        //-         a(href="/archives")= 'Archives'
        //-     input(type="checkbox").al_header_input#al_header_input
        //-     label(for="al_header_input")= '123'
        //-         include ./sidebar.pug
            //- div.al_header_setting
            //-     a(href="https://about.me/iGuan7u")= 'About'
        
        div.dis_flex_jcenter
            div.al_header_archives
                a(href="/archives")= 'Archives'
            div.al_header_setting
                a(href="https://about.me/iGuan7u")= 'About'

            
