header.header
    div.al_header_container.dis_flex_jcenter
        div.al_header_container_left
            h2.al_header_site_title
                a(href="/")= 'iGuan7u'
        div.dis_flex_jcenter
            div.al_header_archives
                a(href="/archives")= 'Archives'
            div.al_header_setting
                a(href="https://about.me/iGuan7u")= 'About'
            
